Java/java-sample-source/Level1/.idea/
Java/java-sample-source/.idea/
Kotlin/kotlin-sample-source/Level1/.idea/
Kotlin/kotlin-sample-source/Level1/.gradle/6.6.1/executionHistory/executionHistory.bin
Kotlin/kotlin-sample-source/Level1/.gradle/
Kotlin/kotlin-sample-source/Level1/build/
Java/java-sample-source/Level1/bin/
Kotlin/kotlin-sample-source/Level2/.gradle/
Kotlin/kotlin-sample-source/Level2/.idea/
Kotlin/kotlin-sample-source/Level2/build/kotlin/compileKotlin/
Kotlin/kotlin-sample-source/Level3/kotlin-programmers-level3/.idea/
Kotlin/kotlin-sample-source/Level3/kotlin-programmers-level3/kotlin-programmers-level3.iml
Kotlin/kotlin-sample-source/Level3/kotlin-programmers-level3/out/production/kotlin-programmers-level3/.idea/
Kotlin/kotlin-sample-source/Level3/kotlin-programmers-level3/out/production/kotlin-programmers-level3/kotlin-programmers-level3.iml
